.App {
  text-align: center;
  max-width: 330px;
  margin: 2rem auto 0;
}

h1 {
  letter-spacing: 0.15rem;
  line-height: 1.2;
  margin-bottom: 0.55rem;
  font-size: 2.35rem;
}

form {
  width: 75%;
  background: #6b686585;
  border-radius: 0.35rem;
  margin: 2.7rem auto 0;
  padding: 1.47rem 0;
  div {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem;
  }

  label {
    font-size: 1.45rem;
    margin-bottom: 0.7rem;
  }

  small {
    display: block;
    margin-bottom: 0.7rem;
  }

  & select,
  & input {
    font-size: 1.05rem;
    margin: 0 auto;
    width: 50%;
    color: inherit;
    background: #1f1914;
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
  }

  input[type="number"] {
    margin-bottom: 0.8rem;
    width: 25%;
  }

  #spinner {
    margin: 2rem auto;
    width: 50px;
    height: 50px;
    position: relative;

    & div {
      position: absolute;
      border: 5px solid #1f19149a;
      border-bottom-color: cornsilk;
      // background: chocolate;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    & div:first-of-type {
      animation: rotateOne 0.77s ease-in-out infinite;
    }

    & div:nth-of-type(2) {
      animation: rotateTwo 0.77s ease-in-out 0.1s infinite;
    }
  }

  @keyframes rotateOne {
    0% {
      transform: rotate(0deg);
      border-bottom-color: #d2691e4f;
    }

    50% {
      border-bottom-color: #a3958a;
    }

    100% {
      transform: rotate(360deg);
      border-bottom-color: #d2691e4f;
    }
  }
  @keyframes rotateTwo {
    0% {
      transform: rotate(0deg);
      border-bottom-color: #d2691e4f;
    }

    50% {
      border-bottom-color: #a3958a;
    }

    100% {
      transform: rotate(360deg);
      border-bottom-color: #d2691e4f;
    }
  }
}

#jokes {
  max-height: 75vh;
  overflow: auto;
}

.icon {
  margin: 0 auto;
  min-width: 2.7rem;
  height: auto;
}

.joke {
  margin-top: 0.55rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2.6px solid #d2691e26;
  border-radius: 0.3rem;
}

.joke-text {
  text-align: initial;
  line-height: 1.42;
  font-size: 1.2rem;
  margin-top: 0.45rem;
}

.btn {
  color: inherit;
  width: auto;
  background: #1f1914;
  border: none;
  margin: 1.45rem 0;
  padding: 0.75rem;
  border-radius: 0.2rem;
}

#fetch-btn {
  margin-top: initial;
  margin-bottom: initial;
}

/* width */
::-webkit-scrollbar {
  width: 0.35rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2691e4f;
  border-radius: 0.7rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f1914;
}

@media (min-width: 45em) {
  .App {
    max-width: 42em;
  }

  h1 {
    font-size: 2.77rem;
    max-width: 55%;
    margin-inline: auto;
  }

  .icon {
    margin: initial;
  }

  .joke {
    display: flex;
  }

  // Every item who has a sibling before it
  .joke > * + * {
    margin-left: 1.2rem;
  }
}

@media (min-width: 79em) {
  .App {
    max-width: 78em;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  h1 {
    // font-size: 6.77rem;
    font-size: 5.2rem;
    letter-spacing: 0.28rem;
    max-width: initial;
    text-align: initial;
    flex: 1.7;
    // justify-content: space-around;
  }

  h1 + * {
    flex: 1;
  }
}
